<%= render 'layouts/nolognav' %>
<h1 class="centered">
  <strong>
    MySong.is
  </strong>
</h3>
<body class="home-body">
<div class="container">
  <h1 class="centered">Sign up</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
      <div class="centered">
        <div class="margin">
          <%= f.text_field :username, autofocus: true, placeholder: 'Username', size: 35 %>
        </div>
        <div class="margin">
          <%= f.email_field :email, placeholder: 'Email', size: 35 %>
        </div>
        <div class="margin">
          <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', size: 35 %>
        </div>
      </div>

    <div class="centered">
      <span id="signup-button"><%= f.submit "Sign Up", class: "finish-signup" %></span>
      <!-- <button class="btn mix-color waves-effect waves-light">Back</button> -->
    </div>
  <% end %>
</div>
</body>
