.row
  = image_tag('real_b.png', :class =>"one image")
%h3.salt.center.rel.white-text.stroke
  %strong
    MySong.is
%br
  %body.home-body
    .container
      %h2.center.salt Sign up
      %br/
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          = f.text_field :username, 
            :value => "Username",
            :style => "color:#aaa;",
            :onfocus => "if(this.value=='Username'){this.value='';this.style.color = '#000';}",  
            :onblur => "if(this.value==''){this.value='Username';this.style.color = '#aaa';}"
        .field
          = f.text_field :email, 
            :value => "Email",
            :style => "color:#aaa;",
            :onfocus => "if(this.value=='Email'){this.value='';this.style.color = '#000';}",  
            :onblur => "if(this.value==''){this.value='Email';this.style.color = '#aaa';}"
        .field
          = f.text_field :password, 
            :value => "Password (4 characters minimum)",
            :autocomplete => "off",
            :style => "color:#aaa;",
            :onfocus => "if(this.value=='Password (4 characters minimum)'){this.value='';this.style.color = '#000';this.type='password'}",  
            :onblur => "if(this.value==''){this.value='Password (4 characters minimum)';this.style.color = '#aaa';this.type='text'}"
        .actions.center
          %button.btn.waves-effect.waves-light= f.submit "Sign Up"
          / <button class="btn mix-color waves-effect waves-light">Back</button>
