

= render 'layouts/navNotLoggedIn'
= stylesheet_link_tag "registrations.css"
%h1.away-from-edge#title-card Login
.left-justify#display-log-in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.text_field :email,
      :value => "Email",
      :type => "email",
      :class => "left-justify",
      :style => "color:#525252;background-color:white;",
      :onfocus => "if(this.value=='Email'){this.value='';this.style.color = '#000000';}",
      :color => "white",
      :onblur => "if(this.value==''){this.value='Email';this.style.color = '#525252';}",
      :autocapitalize => "none"
    = f.text_field :password,
      :value => "Password",
      :type => "text",
      :autocomplete => "off",
      :style => "color:#525252;background-color:white;",
      :onfocus => "if(this.value=='Password'){this.value='';this.style.color = '#000000';this.type='password'}",
      :onblur => "if(this.value==''){this.value='Password';this.style.color = '#525252';this.type='text'}",
      :autocapitalize => "none"
    = f.submit "Login", :class => "submit-button"

/ - if @user == current_user
/   =best_in_place @user, :bio, as: :textarea, url: 'users/bio/'
/ - else
/   =@user.bio
%div.form-box.left-justify#display-sign-in
  = form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true, id: 'new-user') do |f|
    = f.text_field :email,
    :value => "Email",
    :id => "user-email",
    :type => "email",
    :class => "new-user big-form left-justify",
    :style => "color:#525252;background-color:white;",
    :onfocus => "if(this.value=='Email'){this.value='';this.style.color = '#000000';}",
    :color => "white",
    :onblur => "if(this.value==''){this.value='Email';this.style.color = '#525252';}",
    :autocapitalize => "none"
    = f.text_field :password, autocomplete: "off", :class => 'new-account-form',
    :value => "New Password",
    :type => "text",
    :class => "password-margin new-user big-form left-justify",
    :autocomplete => "off",
    :style => "color:#525252;background-color:white;",
    :onfocus => "if(this.value=='New Password'){this.value='';this.style.color = '#000000';this.type='password'}",
    :onblur => "if(this.value==''){this.value='New Password';this.style.color = '#525252';this.type='text'}",
    :autocapitalize => "none"
    = f.submit "Create Account", :class => "submit-button"

%a.logout-button.left-justify#view-signup{:href => "javascript:;"} Or Create Account
:javascript
  // $(document).ready(function () {
  // $(“#new_user”).validate({
  // debug: true,
  // rules: {
  // “user[email]“: {required: true, email: true},
  // “user[password]“: {required: true, minlength: 6},
  // “user[password_confirmation]“: {required: true, equalTo: “#user_password”}
  // }
  // });
  // });
  $("#display-sign-in").hide();
  $("#view-signup").click( function() {
    $("#display-sign-in").toggle();
    $("#display-log-in").toggle();
    if ($("#view-signup").text() == "Or Create Account"){
      $("#view-signup").text("Change to Login");
    }else{
      $("#view-signup").text("Or Create Account");
    }
    if ($("#title-card").text() == "Login"){
      $("#title-card").text("Create Account");
    }else{
      $("#title-card").text("Login");
    }

    });

