<div class="row">
        <a>{:href => "#"}= image_tag("real_b.png", class:"one image", id:"img")</a>
  </div>
</div>
<h3 class="salt center rel white-text stroke">
  <strong>
    MySong.is
  </strong>
</h3>
<br>
  
<body class="home-body">
<div class="container">
  <h2 class="center salt">Sign up</h2>
  <br />

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions center">
      <button class="btn waves-effect waves-light"><%= f.submit "Submit" %></button>
      <!-- <button class="btn mix-color waves-effect waves-light">Back</button> -->
    </div>
  <% end %>
</div>
</body>
