= stylesheet_link_tag "registrations.css" 
= render 'layouts/simplenav.html.haml'

#target
= link_to "Done", {:controller => "users", :action => "accept_finished", :id => current_user.id}, class: "edit-profile-button", id: "confirm-finished-done"

%h1.away-from-edge Congratulations! You just created your account.
%h5.away-from-edge Let people know your favorite song

%h5.away-from-edge Here is your custom page: 
%h5.away-from-edge 
  =link_to "#{@url}", "#{@username}"
%h5.away-from-edge Place in the bio page of your favorite apps

%div
  .select-profile-pic

%div
  .edit-profile-pic

%div
  .add-to-bio-pic

/.change-profile-pic
/.add-bio-pic
/.cursor-pic

