= stylesheet_link_tag "registrations.css" 
= render 'layouts/nolognav'
%h1.away-from-edge Choose Username
- flash.each do |name, msg|
  - if msg.class == Array
    - msg.each do |message|
      = content_tag :div, message, :id => "flash_#{name}"
%div.form-box
  = form_for(resource, as: resource_name, url: registration_path(resource_name), id: "register-form", builder: Judge::FormBuilder) do |f|
    = devise_error_messages!
    = f.text_field :username, 
      :class => "new-user big-form",
      :validate => true,
      :id => "username-field",
      :value => "Username",
      :style => "color:#000000;background-color:white;",
      :onfocus => "if(this.value=='Username'){this.value='';this.style.color = '#000000';}",
      :color => "white",
      :onblur => "if(this.value==''){this.value='';this.style.color = '#000000';}"
    = f.text_field :name,
      :value => "Full Name",
      :class => "new-user big-form",
      :style => "color:#000000;background-color:white;",
      :color => "white",
      :onfocus => "if(this.value=='Full Name'){this.value='';this.style.color = '#000000';}",
      :onblur => "if(this.value==''){this.value='Full Name';this.style.color = '#000000';}"
    .section#separator
      = f.submit "Save", :class => "submit-button"
:javascript


  // judge.validate(document.getElementById('username-field'), {
  //   valid: function(element) {
  //     debugger
  //     element.style.display = 'none !important';
  //   },
  //   invalid: function(element, messages) {
  //     debugger
  //     element.style.border = '1px solid red !important';
  //     alert(messages.join(','));
  //   }
  // });

  // $('#username-field').click( function() {
  //   judge.validate(document.getElementById('username-field'), {
  //     valid: function(element) {
  //       debugger
  //       element.style.display = 'none !important';
  //     },
  //     invalid: function(element, messages) {
  //       debugger
  //       element.style.border = '1px solid red !important';
  //       alert(messages.join(','));
  //     }
  // });

