%a#about-us.bigger.image.white-text.stroke.text-glow-hover{:href => "/"} Home
%h3.salt.center.rel.white-text.stroke MySong.is
%body.bck
.container
  %h2.center-align Edit your profile, #{@user.username}.
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = field_set_tag do
      = f.text_field :username, 
        :value => "#{@username}",
        :style => "color:#aaa;",
        :onfocus => "if(this.value=='Username' || this.value=='#{@username}'){this.value='';this.style.color = '#000';}",  
        :onblur => "if(this.value==''){this.value='#{@username}';this.style.color = '#aaa';}"
      = f.text_field :full_name,
        :value => "Full Name",
        :style => "color:#aaa;",
        :onfocus => "if(this.value=='Full Name'){this.value='';this.style.color = '#000';}",
        :onblur => "if(this.value==''){this.value='Full Name';this.style.color = '#aaa';}"
      = f.text_field :picture,
        :value => "Profile Picture URL",
        :style => "color:#aaa;",
        :onfocus => "if(this.value=='Profile Picture URL'){this.value='';this.style.color = '#000';}",
        :onblur => "if(this.value==''){this.value='Profile Picture URL';this.style.color = '#aaa';}"

    .actions.center
      %button.btn.waves-effect.waves-light= f.submit "Finish Sign Up"