= stylesheet_link_tag "registrations.css" 
= render 'layouts/nolognav'
%h1.away-from-edge.vertical-spacing Choose Username
- flash.each do |name, msg|
  - if msg.class == Array
    - msg.each do |message|
      = content_tag :div, message, :id => "flash_#{name}"
%div.form-box
  = form_for(resource, as: resource_name, url: registration_path(resource_name), id: "register-form") do |f|
    = devise_error_messages!
    -if !@omni
      = f.text_field :username, 
        :class => "new-user big-form",
        :validate => true,
        :id => "username-field",
        :value => "Username",
        :style => "color:#525252;background-color:white;",
        :onfocus => "if(this.value=='Username'){this.value='';this.style.color = '#000000';}",
        :color => "white",
        :onblur => "if(this.value==''){this.value='Username';this.style.color = '#525252';}",
        :autocapitalize => "none"
      = f.text_field :name,
        :value => "Full Name",
        :class => "new-user big-form",
        :style => "color:#525252;background-color:white;",
        :color => "white",
        :onfocus => "if(this.value=='Full Name'){this.value='';this.style.color = '#000000';}",
        :onblur => "if(this.value==''){this.value='Full Name';this.style.color = '#525252';}"
      .section#separator
        = f.submit "Save", :class => "submit-button"
    -else
      = f.text_field :email,
        :value => "#{@email}",
        :class => "new-user",
        :type => "email",
        :style => "color:#525252;background-color:white;",
        :onfocus => "if(this.value=='#{@email}'){this.value='';this.style.color = '#000000';}",
        :color => "white",
        :onblur => "if(this.value==''){this.value='#{@email}';this.style.color = '#525252';}"
      = f.text_field :username,
        :class => "new-user",
        :id => "username-field",
        :value => "#{@username}",
        :style => "color:#525252;background-color:white;",
        :onfocus => "if(this.value=='#{@username}'){this.value='';this.style.color = '#000000';}",
        :color => "white",
        :onblur => "if(this.value==''){this.value='#{@username}';this.style.color = '#525252';}",
        :autocomplete => "off"
      = f.text_field :name,
        :value => "#{@name}",
        :class => "new-user",
        :style => "color:#525252;background-color:white;",
        :onfocus => "if(this.value=='#{@name}'){this.value='';this.style.color = '#000000';}",
        :color => "white",
        :onblur => "if(this.value==''){this.value='#{@name}';this.style.color = '#525252';}",
        :autcomplete => "off"
      .section#separator
        = f.submit "Save", :class => "submit-button"
:javascript

  $("#new_user").submit( function( event ) {
    if ($("#username-field").val() == "Username"){
      $("#username-field").val("");
      }
  })

  $(document).ready(function () {

    $.extend($.validator.messages, { remote: "This is already taken!" })

    $("#edit_user").validate({
        rules: {
        "user[username]": {required: true, remote: "/user_exists"},
        "user[email]": {email: true, required: true, remote: "/email_exists"}
      }
    });

    // $.get("/user_exists", {username: $("#username-field").val()}, function(response) {
    //   if(response == "false") {
    //     $('#runner-new-job-errors').html('');
    //     e.preventDefault();
    //     $('#runner-new-job-errors').append('<small style="color:red"> User doesnt exist </small>');
    //     }
    //   });
  });


  // judge.validate(document.getElementById('username-field'), {
  //   valid: function(element) {
  //     debugger
  //     element.style.display = 'none !important';
  //   },
  //   invalid: function(element, messages) {
  //     debugger
  //     element.style.border = '1px solid red !important';
  //     alert(messages.join(','));
  //   }
  // });

  // $('#username-field').click( function() {
  //   judge.validate(document.getElementById('username-field'), {
  //     valid: function(element) {
  //       debugger
  //       element.style.display = 'none !important';
  //     },
  //     invalid: function(element, messages) {
  //       debugger
  //       element.style.border = '1px solid red !important';
  //       alert(messages.join(','));
  //     }
  // });

