.container
	-if current_user.id == @user.id
		%h1 mysong.is/#{@user.username}
	-else
		%h1 mysong.is/#{@user.username}

	%h2 Preferred music: #{@user.permalink}
	.btn.logout.waves-effect.waves-light.center= link_to 'Logout', destroy_user_session_path, method: 'delete', class: "white-text"
	.row
	.col.s8.offset-s2
		- if params[:mixtape_id]
			= react_component 'PlayMixtape', { current_user: current_user, mixtape_id: params[:mixtape_id] }
		- else
			= react_component 'PlayMixtape', { current_user: current_user, mixtape_id: @mixtape_id }
		
	%img{:alt => "My QR code", :src => @qr}
	%a.moove.bigger{:href => "home#index"} Mixtape
	-if current_user.id == @user.id
		%a.moove.bigger{:href => "users_edit"} Edit

.sam= react_component 'Player'
