= render 'layouts/navbar'
%body.home-body

.container
	-if current_user == nil || current_user.id != @user.id
	-else

.row
	.col.s8
		-if current_user == nil || current_user.id != @user.id
		-else
			%div
				- if current_user.picture == nil
				- else
					%img.nav-profile-pic.borderr.z-depth-3{alt: "profile_pic", src: @img, height: 200, width: 200}
				-if current_user.picture == nil
					%h5.salt #{@user.username}'s Preferred music: #{@user.permalink}
				-else
					%h5.salt.center My songs: #{@user.permalink}
			%br
		= react_component 'PlayMixtape', { current_user: current_user, mixtape_id: @mixtape_id }
	.col.s4.backround.z-depth-3
		.center.title-spacing
			%img{:alt => "My QR code", :src => @qr}
		%h2.salt.center Top Songs
		= react_component 'TopSongs'
		-if params[:mixtape_id]
			= react_component 'PlayMixtape', { current_user: current_user, mixtape_id: params[:mixtape_id] }
		-else
%br
	.col.s6


	/ %button.btn= link_to "Edit Profile", users_edit_path, class: "white-text"
	%br
	.center
		%br
		%br

	%link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/

