= render 'layouts/navbar'
.contents
	#column-left
		.container
			%img.nav-profile-pic.borderr.z-depth-3#nav-profile-pic{alt: "profile_pic", src: @img, height: 200, width: "auto"}
			- if @user == current_user
				=best_in_place @user, :bio, as: :textarea, url: 'users/bio/', id: 'biography'
			- else
				=@user.bio
			#player-container
				#main-art.pick-song-image.hidden-mobile
				#player-bottom.hidden-mobile
					#player-title
					#player-artist
					#player-button play
		- if current_user == nil
			#create-link
				= link_to 'Create your own MySong.is profile', '/users/sign_in'
= react_component 'Player'
= react_component 'PlayMixtape', { current_user: current_user, mixtape_id: @mixtape_id, author_id: @user.id }

#column-right
	= react_component 'TopSongs', { current_user: current_user, mixtape_id: @mixtape_id }
