= render 'layouts/navbar'
%body.home-body

.container
	-if current_user == nil || current_user.id != @user.id
	-else
		%h1 mysong.is/#{@user.username}

.row
	.col.s6.m4.l3
		-if current_user == nil || current_user.id != @user.id
		-else
		%div
			.center
				- if current_user.picture == nil
				- else
					%br
					%img.center.borderr.z-depth-3{alt: "profile_pic", src: @img}
					%br
					%br
				-if current_user.picture == nil
					%h5.salt #{@user.username}'s Preferred music: #{@user.permalink}
				-else
					%h5.salt #{current_user.name}'s Preferred music: #{@user.permalink}
		.center
			%br
			= react_component 'PlayMixtape', { current_user: current_user, mixtape_id: @mixtape_id }
	.col.s6.m4.l3.backround.z-depth-3
		%h2.salt.center Top Songs
		= react_component 'TopSongs'
		-if params[:mixtape_id]
			= react_component 'PlayMixtape', { current_user: current_user, mixtape_id: params[:mixtape_id] }
			%img{:alt => "My QR code", :src => @qr}
		-else
			.center
				%br
				%br
				%img{:alt => "My QR code", :src => @qr}
				%br
				%br
				%br
%br
	.col.s6


	/ %button.btn= link_to "Edit Profile", users_edit_path, class: "white-text"
	%br
	.center
		%br
		%br

	%link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/

