= render 'layouts/navbar'
%body.home-body

.container
	-if current_user == nil || current_user.id != @user.id
	-else
		%h1 mysong.is/#{@user.username}

		%h2 Preferred music: #{@user.permalink}

.row
	.col.s6
		-if current_user == nil || current_user.id != @user.id
		-else
		%div
			%br
			.center
				%img{:alt => "My QR code", :src => @qr}
			= react_component 'TopSongs'
	.col.s6.m4.l3
		- if params[:mixtape_id]
			= react_component 'PlayMixtape', { current_user: current_user, mixtape_id: params[:mixtape_id] }
		- else
			= react_component 'PlayMixtape', { current_user: current_user, mixtape_id: @mixtape_id }
	.col.s6
	%br
	%br
	%br
	%br
	%br
	%br
	%br
	%br
	%br


	/ %button.btn= link_to "Edit Profile", users_edit_path, class: "white-text"
	%br
	%br
	%br
	%br
	%br
	.sam= react_component 'Player'
	%br
	%br
	%br
	%br
	%br
