<%= render 'layouts/simplenav' %>

<div class="contents">

  <div class="column-left">
      <div class="nav-title">
        <h5 class="salt title-spacing">
           Sign in:
        </h1>

        <%= link_to user_omniauth_authorize_path(:twitter) do %>
          <i class="fa fa-twitter fa-5x"></i>
        <% end %>

        <%= link_to user_omniauth_authorize_path(:facebook) do %>
          <i class="fa fa-facebook-official fa-5x"></i>
        <% end %>
        <h5 class="salt"> Or: </h5>

          <%= link_to image_tag('add-user-128.png', :style =>"height:75px; margin-bottom: -20px;"), new_registration_path(resource_name) %>
      </div>
  </div>


  <div class="column-right">
      <%= react_component 'TopSongs' %>
  </div>

</div>
