<%= render 'layouts/simplenav' %>

<div class="contents">

  <div id="column-left">
      <div class="nav-title">
        <h5 class="salt title-spacing">
           Sign in:
        </h1>

          <%= link_to image_tag('facebook-logo.png', :style =>"height:75px;", :id => "logo-login"), user_omniauth_authorize_path(:facebook) %>
          <%= link_to image_tag('twitter-logo.png', :style =>"height:71px;", :id => "twitter-login"), user_omniauth_authorize_path(:twitter) %>

        <h5 class="salt"> Or: </h5>

        <div id="email-login">
          <%= link_to "Sign Up Using Email", new_registration_path(resource_name) %>
        </div>
      </div>
  </div>

  <div id="column-right">
      <%= react_component 'TopSongs' %>
  </div>

</div>
