.container
  %h2.center-align Edit your profile, #{@user.username}.
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = field_set_tag do
      = f.text_field :username,
        :value => "Username",
        :style => "color:#aaa;",
        :onfocus => "if(this.value=='Username'){this.value='';this.style.color = '#000';}",  
        :onblur => "if(this.value==''){this.value='Username';this.style.color = '#aaa';}"
      = f.text_field :email, 
        :value => "Email",
        :style => "color:#aaa;",
        :onfocus => "if(this.value=='Email'){this.value='';this.style.color = '#000';}",  
        :onblur => "if(this.value==''){this.value='Email';this.style.color = '#aaa';}"
      = f.text_field :current_password,
        :value => "Current Password",
        :autocomplete => "off",
        :style => "color:#aaa;",
        :onfocus => "if(this.value=='Current Password'){this.value='';this.style.color = '#000';this.type='password'}",  
        :onblur => "if(this.value==''){this.value='Current Password';this.style.color = '#aaa';this.type='text'}"
      = f.text_field :password,
        :value => "New Password (4 characters minimum)",
        :autocomplete => "off",
        :style => "color:#aaa;",
        :onfocus => "if(this.value=='New Password (4 characters minimum)'){this.value='';this.style.color = '#000';this.type='password'}",  
        :onblur => "if(this.value==''){this.value='New Password (4 characters minimum)';this.style.color = '#aaa';this.type='text'}"
      .actions.center
        %button.btn.waves-effect.waves-light= f.submit "Sign Up"